{% extends 'layout.html' %}

{% block body %}
<div class="contenedorperfil">
    <div class="contenedorPerfil">
        {%for img in publicacion%}
        <div class="card">
        
            <div class="card-body">
                <h5 class="card-title">{{img[1]}}</h5>
                <img src="../static/imagenes/imgpub/{%print(img[3])%}" class="ImagenPublicacion" alt="..." />
                <p class="card-text">
                    {{img[2]}}
                </p>
                
            </div>
            <button class="btnDetalle">Detalle</button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
